body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:866px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:511px;
}
#u2072 {
  position:absolute;
  left:17px;
  top:10px;
  width:849px;
  height:511px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:248px;
  width:845px;
  visibility:hidden;
  word-wrap:break-word;
}
