body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:879px;
}
#u2044 {
  position:absolute;
  left:36px;
  top:11px;
  width:1344px;
  height:879px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:432px;
  width:1340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666669;
}
#u2046 {
  position:absolute;
  left:464px;
  top:233px;
  width:109px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666669;
}
#u2047 {
  position:absolute;
  left:0px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:51px;
}
#u2048 {
  position:absolute;
  left:672px;
  top:222px;
  width:122px;
  height:51px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:18px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u2050 {
  position:absolute;
  left:601px;
  top:227px;
  width:121px;
  height:40px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:44px;
}
#u2052 {
  position:absolute;
  left:724px;
  top:226px;
  width:135px;
  height:44px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#615C63;
}
#u2054 {
  position:absolute;
  left:422px;
  top:332px;
  width:356px;
  height:33px;
  color:#615C63;
}
#u2055 {
  position:absolute;
  left:0px;
  top:8px;
  width:356px;
  word-wrap:break-word;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
  background:inherit;
  background-color:rgba(243, 247, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#394B5B;
}
#u2056 {
  position:absolute;
  left:460px;
  top:413px;
  width:154px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#394B5B;
}
#u2057 {
  position:absolute;
  left:0px;
  top:4px;
  width:154px;
  word-wrap:break-word;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
  background:inherit;
  background-color:rgba(243, 247, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#394B5B;
}
#u2058 {
  position:absolute;
  left:460px;
  top:535px;
  width:154px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#394B5B;
}
#u2059 {
  position:absolute;
  left:0px;
  top:4px;
  width:154px;
  word-wrap:break-word;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:33px;
  background:inherit;
  background-color:rgba(243, 247, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9BA2BA;
}
#u2060 {
  position:absolute;
  left:460px;
  top:452px;
  width:370px;
  height:33px;
  color:#9BA2BA;
}
#u2061 {
  position:absolute;
  left:0px;
  top:8px;
  width:370px;
  word-wrap:break-word;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:33px;
  background:inherit;
  background-color:rgba(243, 247, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9BA2BA;
}
#u2062 {
  position:absolute;
  left:460px;
  top:573px;
  width:370px;
  height:33px;
  color:#9BA2BA;
}
#u2063 {
  position:absolute;
  left:0px;
  top:8px;
  width:370px;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u2064 {
  position:absolute;
  left:854px;
  top:437px;
  width:63px;
  height:21px;
  color:#FFFFFF;
  text-align:center;
}
#u2065 {
  position:absolute;
  left:0px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u2066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u2066 {
  position:absolute;
  left:854px;
  top:559px;
  width:63px;
  height:21px;
  color:#FFFFFF;
  text-align:center;
}
#u2067 {
  position:absolute;
  left:0px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u2068 {
  position:absolute;
  left:592px;
  top:540px;
  width:45px;
  height:19px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
